RewriteEngine On



RewriteRule ^Accueil$ index.php
RewriteRule ^accueil$ index.php
RewriteRule ^presentation$ public/presentation.php
RewriteRule ^domaine$ public/domaine.php
RewriteRule ^contact$ public/contact.php
RewriteRule ^politique$ public/politique.html
RewriteRule ^mention$ public/mention.html

